* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first */
a {
    text-decoration: none;
    color: black;
}
ul {
    margin-top: 10px;
    margin-left: 40px;
}

@media screen and (min-width: 780px) {
    ul {
        display: flex;
        list-style-type: none;
        justify-content: center;
    }
    li {
        background-color: gray;
        padding: 5px 20px;
        margin: 0 7px;
    }
    a {
        color: white;
        font-size: 22px;
    }
}