* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Desktop first */
.box {
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 10px;
}

@media screen and (max-width: 479px) {
    .box {
        border-radius: 50%;
    }
}
