* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first */
.container {
    max-width: 1170px;
    margin: 0 auto;
    background-color: green;
}
/* Attenzione alla specificità */
.container h1 {
    color: white;
    font-size: 40px;
}

@media all and (min-width: 1024px) {
    .container {
        background-color: salmon;
        text-align: center;
    }
    /* Attenzione alla specificità */
    .container h1 {
        color: black
    }
}

/* Desktop first */
/* .container {
    max-width: 1170px;
    margin: 0 auto;
    background-color: salmon;
}
h1 {
    font-size: 40px;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .container {
        background-color: green;
    }
    h1 {
        color: white;
        text-align: left;
    }
} */