* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile first */
img {
    width: 100%;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}
.col {
    padding: 10px;
    width: 100%;
}
h2 {
    margin: 10px 0;
}

@media screen and (min-width: 768px) {
    .col {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .col {
        width: 25%;
    }
}